body
{
    background:url("https://cdn1.pri.org/sites/default/files/story/gallery/Pizza_p26.jpg")no-repeat center;
    background-size:cover;
}

#contentbox{
    background:#c5c3fe;
    border-top:2px solid white;
}
form{
    text-align:center;
}
#contentlogin{
     font-size:50px;
     box-sizing:initial; 
     padding: 20px; 
     width: 50px; 
     text-align: center; 
     text-decoration: none; 
     margin: 5px 2px; 
     color:white;
     background-color: #3d5b99;
}