*{
    font-family: 'Roboto', sans-serif;
}
body
{
    background:url("https://s-media-cache-ak0.pinimg.com/originals/b0/7c/3d/b07c3db88e9d36e21cf069e761c0f722.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.modal.and.carousel {
  position: absolute; /* Needed because the carousel overrides the position property*/
}
/*First row + promo start*/
.pizza-container{
    background-color: #3D3A38;
}
#firstrow{
    border-top:2px solid white;
}
.pizza-name-size{
  font-size: 125%;
}
.menubackground {
  background-color: #c5c3fe;
}
.pizza-container figure {
	height: 260px;
}
.pizza-container img {
	margin: 0 auto;
}
#promocarousel{
   min-height:100%;
   height:inherit;
   border-top:2px solid white;
}
.figure-caption{
    color:white;
}
.carousel-caption{
    position:absolute;
}
.card {
    border: 1px solid white;
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #c5c3fe;
}

.containers {

    padding: 0 16px;
}

.pizza-name {
    color: gray;
    font-size: 18px;
}

.poruchai {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.poruchai:hover {
    opacity: 0.9;
    color:green;
}
@media (min-width: @screen-md-min) {
    #number br{
        display:none;
    }
  .thumbnail:hover {
	  top: -10px;
  }
  .pizza-container figure {
      height: 240px;
  }
}
@media (min-width: @screen-sm-min) {
    #myModal{
        display:none;
    }
    #rightasider{
        display:none;
    }
  .pizza-container img {
      max-width: 100%;
      width: auto;
      margin: 0 auto 20px auto;
  }
  .pizza-container figure {
      height: auto;
  }
  .thumbnail:hover {
		position: initial;
		width: auto;
  }
}
@media (max-width: @screen-xs-max) {
    #myModal{
        display:none;
    }
    #rightasider{
        display:none;
    }
}
